@tailwind base;
@tailwind components;
@tailwind utilities;

.below-task::-webkit-scrollbar {
  width: 6px;
}

.below-task::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.below-task::-webkit-scrollbar-thumb {
  background: rgba(37, 23, 234, 0.676);
}

.below-task::-webkit-scrollbar-thumb:hover {
  background: #09e4ce;
}

.ant-drawer-body::-webkit-scrollbar {
  width: 6px;
}

.ant-drawer-body::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.ant-drawer-body::-webkit-scrollbar-thumb {
  background: rgba(37, 23, 234, 0.676);
}

.ant-drawer-body::-webkit-scrollbar-thumb:hover {
  background: #09e4ce;
}
